@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
  display: grid;
  gap: 0.5em;
  grid-template-areas:
    "icon"
    "header"
    "hero"
    "content"
    "cta"
    "footer";
  text-align: center;
  padding-top: 4em;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010912;
  color: #d2dae4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  grid-area: icon;
  margin: 1em auto 1.5em;
  max-width: 60px;
}

.header {
  font-size: 2.8em;
  margin: auto;
}

.hero {
  margin: 2em auto;
  max-width: 45%;
}

.tagline {
  margin: 0 auto 2em;
  padding: 0 37px;
  font-weight: 700;
  max-width: 500px;
  font-size: 2.4em;
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2em;
}

.content-wrapper img {
  max-width: 100%;
  margin: auto;
}

.content-wrapper .text {
  margin: 0 2em;
}

.content-wrapper .text .title {
  font-size: 1.6em;
  font-weight: 600;
  vertical-align: bottom;
}

.content-wrapper .text .body {
  font-size: 1.3em;
  font-weight: 400;
  max-width: 450px;
  padding: 0 10px;
  margin: auto;
}

.cta {
  margin: 5em auto 3em;
}

.cta .tagline {
  font-size: 1.9em;
  padding: 0;
  margin: auto;
}

.cta input {
  border: medium none;
  color: gray;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 55%;
  border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  font-family: 'Barlow', sans-serif;
}

.cta button {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 80px;
  border: medium none;
  border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 7px 7px 0;
  font-family: 'Barlow', sans-serif;
  background: #d3d3d3;
}

.cta button:hover, .highlight {
  background: #FFFF00;
  color: #010912;
}

h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 3.5em;
  margin: 10px;
}

.highlight {
  background: #FFFF00;
  color: #010912;
  font-weight: 800;
  padding: 0 4px;
  font-style: italic;
}

.cta.email { background: #fff }
.cta input[type="submit"] {
  background: #FFFF00;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 0;
}
.cta button[type="submit"]:hover { color: #FFFF00 }

.footer {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  margin-top: 1em;
}

.footer .copyright {
  text-align: center;
  grid-row: 2;
}

.footer .copyright p {
  font-size: 0.9em;
}

.footer .nav {
  display: flex;
  justify-content: center;
}

.footer .nav p {
  float: left;
  margin-right: 1.5em;
}

.footer .icon {
  font-size: 1.7em;
  margin: 0.5em;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#FFFF00;
  height: 1px;
}

a {
  color: #d2dae4;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .header {
    max-width: 50%;
    margin: auto;
  }

  .hero {
    margin: 3em auto;
    max-width: 12%;
  }
  .tagline {
    margin: 0 auto 2em;
    max-width: 700px;
    font-size: 3em;
  }

  .content-wrapper {
    grid-template-columns: 5fr 4fr 0.2fr;
    grid-template-rows: auto;
    gap: 2em
  }

  .content-wrapper img {
    border-radius: 0 15px 15px 0;
  }

  .content-wrapper .text {
    text-align: left;
    margin: auto;
    width: 100%;
  }

  .content-wrapper .text .body {
    max-width: 630px;
    padding: 0;
    margin: 0;
  }

  .cta {
    margin: 4em;
  }

  .cta .tagline {
    font-size: 1.9em;
  }

  .cta input {
    width: 220px;
  }

  .cta button {
    width: 80px;
  }

  .footer {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 1em 3em 2em;
  }

  .footer .copyright {
    text-align: left;
    grid-row: 1;
  }

  .footer .nav {
    display: flex;
    justify-content: right;
  }

}






